{{> base_header }}

<h1>Résultat de l'analyse</h1>

<div>{{ result }}</div/>

<a href="http://localhost:8081/view/{{id}}">Retour Patient</a>
<a href="http://localhost:8082/view/{{id}}">Retour Historique</a>

{{> base_footer }}