{{> base_header }}

<h1>Liste des patients</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#patients}}
        <tr>
            <td>{{ id }}</td>
            <td>{{ family }}</td>
            <td>{{ given }}</td>
            <td>
                <a href="/view/{{ id }}">Voir</a>
                <a href="http://localhost:8082/view/{{ id }}">Historique</a>
                <a href="http://localhost:8083/view/{{ id }}">Anaylser</a>
            </td>
        </tr>
    {{/patients}}
    </tbody>
</table>

{{> base_footer }}