{{> base_header }}

{{#historic}}
    <h1>Historique patient : {{ patientId }}</h1>

    <form action="/update/{{ id }}" method="post">
        <div class="mb-3">
            <label for="content" class="form-label">Historique</label>
            <textarea class="form-control" id="content" name="content">
                {{ content }}
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{{/historic}}

{{> base_footer }}